.navbar div, .navbar.active div {
    padding: 16px 0px;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    transition: 1s;
}

.navbar div ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 16px;
}

.navbar div ul li {
    margin-right: 20px;
}

.navbar svg {
    margin-right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.1s;
}

.navbar svg:hover {
    color: rgb(146, 220, 255);
    transition: 0.3s;
}

.navbar div ul a {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 2s;
    color: black;
}

.navbar div ul a:hover {
    color: rgb(146, 220, 255);
    transition: 0.3s;
}

.navbar div ul button {
    border-radius: 10px;
    background-color: rgb(146, 220, 255);
    color: white;
    border: none;
    padding: 8px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar.active div {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    padding: 16px;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

/* sidebar-dashboard */

#sidebar nav {
    background-color: red;
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
}

#sidebar nav ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

#sidebar nav ul li {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#sidebar nav ul li:hover {
    background-color: white;
}

#sidebar nav ul a {
    text-decoration: none;
    list-style-type: none;
    font-weight: 600;
    color: black;
}

/* footer */

#footer {
    padding-top: 30px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .07);
}

#footer #copyright {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    padding-top: 20px;
}