.navbar #nav, .navbar.active #nav {
    padding: 16px 0px;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    transition: 1s;
}

.navbar #nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 16px;
}

.navbar #nav ul li {
    margin-right: 20px;
}

.navbar svg {
    margin-right: 20px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: 0.1s;
    color: black;
}

.navbar svg:hover {
    color: rgb(146, 220, 255);
    transition: 0.3s;
}

.navbar #nav ul a {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
    transition: 2s;
    color: black;
}

.navbar #nav ul a:hover {
    color: rgb(146, 220, 255);
    transition: 0.3s;
}

.navbar #nav ul button {
    border-radius: 10px;
    background-color: rgb(146, 220, 255);
    color: white;
    border: none;
    padding: 8px;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar.active #nav {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
    padding: 16px;
    position: fixed;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    top: 0;
    backdrop-filter: blur(10px);
    transition: 0.5s;
}

#navbarr #profile {
    margin-right: 15px;
    background-color: rgb(146, 220, 255);
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
}

#navbarr #profile svg {
    background-color: black;
    color: white;
    border-radius: 20px;
}

#navbarr #profile span {
    margin-left: -15px;
    color: black;
    font-weight: 600;
}

#navbarr #profile #box {
    display: none;
}

#navbarr #profile:hover #box {
    background-color: rgb(146, 220, 255);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    left: 0;
    top: 0;
    border-radius: 20px 20px 10px 10px;
}

#navbarr #profile span #box svg {
    margin-right: 0;
    padding: 0;
    background-color: black;
    height: 40px;
    width: 40px;
}

#navbarr #profile span #box p:nth-child(1) {
    font-weight: 600;
    margin: auto;
    text-align: center;
}

#navbarr #profile span #box p:nth-child(2) {
    font-weight: 300;
    text-align: center;
}

#navbarr #profile span #box button {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    background-color: white;
    color: rgb(146, 220, 255);
}

#navbarr #profile #box


/* sidebar-dashboard */

#sidebar nav {
    background-color: red;
    height: 100vh;
    width: 150px;
    position: fixed;
    top: 0;
}

#sidebar nav ul {
    display: flex;
    flex-direction: column;
    padding: 15px;
    justify-content: center;
}

#sidebar nav ul li {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#sidebar nav ul li:hover {
    background-color: white;
}

#sidebar nav ul a {
    text-decoration: none;
    list-style-type: none;
    font-weight: 600;
    color: black;
}

/* footer */

#footer {
    padding-top: 30px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .07);
}

#footer #copyright {
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    padding-top: 20px;
}