.detailPages {
    margin-top: 50px;
}

.detailPages #detailPages-content #garis::after {
    content: '';
    display: block;
    width: 20%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    /* margin: 0 auto; */
    margin-top: 20px;
}

.detailPages button {
    border: none;
    width: 100px;
    padding: 10px 20px;
    margin-right: 10px;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.detailPages #detailPages-content button:nth-child(1) {
    background-color: rgb(146, 220, 255);
    color: white;
}

.detailPages #detailPages-content #button-cart button {
    background-color: #efefef;
    color: black;
}

.detailPages #comment #cards svg {
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.detailPages #comment input {
    border-radius: 10px 0px 0px 10px;
    border: 1px solid rgb(0, 0, 0);
}

.detailPages #comment button {
    border-radius: 0px 10px 10px 0px;
}

.detailPages #comment #garis {
    content: '';
    display: block;
    height: 2px;
    background-color: rgb(0, 0, 0, 0.3);
}