@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

.container-login {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* background: linear-gradient(45deg, #edafbb, #8d9deb); */
    background: url(../img/src/gambarLogin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
}

.loginn {
    width: 350px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.loginn .boxx {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 100%;
    padding: 40px;
}

.loginn h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.loginn input {
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.loginn input:hover,
.loginn input[type="text"]:focus,
.loginn input[type="password"]:focus,
.loginn button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.loginn input::placeholder {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.loginn .boxx div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.loginn .boxx div span {
    position: absolute;
    right: 5%;
    top: 45%;
}

.loginn button {
    background: transparent;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.loginn input,
.loginn button,
.loginn h1 {
    margin-top: 20px;
}

.loginn svg {
    width: 20px;
    height: 20px;
}

.loginn .form-controll input[type="checkbox"] {
    margin-right: 6px;
}

.loginn .form-controll {
    color: rgba(0, 0, 0, 0.5);
}

/* sign-up */

.container-daftar {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* background: linear-gradient(45deg, #edafbb, #8d9deb); */
    background: url(../img/src/gambarLogin.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
}

.daftar {
    width: 350px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    display: flex;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.daftar .boxx {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 100%;
    padding: 40px;
}

.daftar h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
}

.daftar input {
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: transparent;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}

.daftar input:hover,
.daftar input[type="text"]:focus,
.daftar input[type="password"]:focus,
.daftar button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.daftar input::placeholder {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.7);
}

.daftar .boxx div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.daftar .boxx div span {
    position: absolute;
    right: 5%;
    top: 45%;
}

.daftar button {
    background: transparent;
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 25px;
    border: none;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

.daftar input,
.daftar button,
.daftar h1 {
    margin-top: 20px;
}

.daftar svg {
    width: 20px;
    height: 20px;
}

.daftar .form-controll input[type="checkbox"] {
    margin-right: 6px;
}

.daftar .form-controll {
    color: rgba(0, 0, 0, 0.5);
}

.daftar #button-submit {
    width: 50%;
    margin: 20px auto;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
}

/* Trip */

:root {
    --curve: 40;
}

#trip #hero {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../img/src/tripHero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#trip #hero div {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    margin-top: 160px;
    bottom: 0;
}

#trip #content {
    margin-top: 40px;
}

#trip .cards {
    position: relative;
    overflow: hidden;
    border-radius: 40px 40px 20px 20px;
    margin-bottom: 20px;
}

#trip .cards img {
    height: 400px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform .5s ease;
}

#trip .cards:hover img {
    transform: scale(1.5);
}

#trip .deskripsi {
    background-color: rgb(146, 220, 255, 1);
    color: white;
    position: absolute;
    width: 100%;
    transform: translateY(45%);
    bottom: 0;
    transition: .1s ease-in-out;
    border-radius: 40px 40px 0 0;
    padding: 20px 10px;
}

#trip .deskripsi .detail .text {
    margin-left: 20px;
}

#trip .cards .deskripsi h3 {
    font-size: 20px;
}

#trip .cards .deskripsi h5 {
    font-size: 16px;
}

#trip .cards:hover .deskripsi {
    transform: translateY(0%);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    transition: .1s;
}

#trip .cards:hover .text h5 {
    color: rgb(146, 220, 255, 1);
}

#trip .cards .deskripsi .button {
    padding: 0 20px;
}

#trip .cards .deskripsi .button button {
    margin: 10px;
    border: none;
    padding: 5px;
    border-radius: 15px;
}

#trip .cards .deskripsi .button #buttonn Button {
    width: 100%;
    border: none;
    margin-left: 0px;
}

#trip .cards .deskripsi .button button:hover {
    box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

#trip .cards .deskripsi .button button:nth-child(2) {
    color: white;
    background-color: rgb(146, 220, 255, 1);
}

#trip .cards a {
    text-decoration: none;
}

#trip .cards a button {
    background-color: rgb(146, 220, 255, 1);
    color: white;
}

/* home */

#home #hero-background {
    margin-top: -55px;
    font-family: 'Poppins';
    position: relative;
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(45deg, #edafbb, #8d9deb); */
    background: url(../img/src/heroHome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -16px;
    opacity: 0.9;
}

#home .hero {
    position: absolute;
    top: 130px;
    left: 80px;
    color: white;
    opacity: 1;
}

#home .hero .hero-text h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 5px;
}

#home .hero .hero-text h5 {
    font-weight: 400;
}

#home .hero .hero-button button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(146, 220, 255);
    font-weight: 600;
    letter-spacing: 1px;
}

#home #trip #judul,
#home #about #judul {
    letter-spacing: 4px;
}

#home #trip #content {
    position: relative;
}

#home #trip button, #home #about button {
    display: inline-block;
    border: none;
    border-radius: 10px;
    background-color: rgb(146, 220, 255);
    padding: 5px 20px;
    color: white;
}

#home #garis {
    height: 2px;
    background-color: black;
    margin: 0 auto;
    opacity: 0.1;
}

/* about  */

#about #logo span {
    font-size: 35px;
}

#about #logo span {
    background-color: black;
    color: white;
    padding: 0px 5px;
    border-radius: 50%;
    letter-spacing: 0px;
    margin-right: 3px;
}

#about #logo h2 {
    letter-spacing: 4px;
}

#about #about-card img {
    width: 70%;
    border-radius: 50%;
}

/* dashboard */

#dashboard {
    margin-top: 80px;
}

#dashboard #content form {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

#dashboard #content label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#dashboard #content .delete {
    overflow-y: auto;
    border: 1px solid black;
}

#dashboard #content .delete img {
    width: 100%;
    height: 150px;
}

#dashboard #content .delete .box {
    height: 50vh;
}

#dashboard #content .delete .box .trash {
    cursor: pointer;
}

#dashboard #content .delete .box .trash svg {
    height: 30px;
    width: 30px;
}

/* keranjang */

#keranjang #header {
    margin: 0 auto;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 90%;
}

#keranjang #header h1 {
    margin-left: 30px;
}

#keranjang #container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

#keranjang #content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 60%;
}

#keranjang #container #detail {
    display: flex;
    justify-content: center;
    width: 40%;
    margin-top: 20px;
    display: inline-block;
}

#keranjang #container #detail div {
    position: fixed;
    border: 1px solid black;
    height: 80vh;
    display: flex;
    justify-content: center;
    width: 35%;
    background-color: white;
}

#keranjang #content #box {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}

#keranjang #content #box #card {
    display: flex;
    width: 100%;
    margin-right: 20px;
}

#keranjang #content #box #card div:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 10px;
}

#keranjang #content #box #card div:nth-child(1) .checkboxx {
    background-color: aqua;
    margin-right: 20px;
}

#keranjang #content #box #card div:nth-child(2) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}

#keranjang #content #box:nth-child(odd) #card div:nth-child(1) {
    background-color: rgb(0, 0, 0, .03);
}

#keranjang #content #box:nth-child(odd) #card div:nth-child(2) {
    background-color: rgb(0, 0, 0, .03);
}

#keranjang #detail .keranjang.active {
    background-color: red;
    color: red;
    transform: translateY(-60px);
    transition: 0.5s;
}

#keranjang #detail .keranjang {
    transition: 0.5s;
}

/* order */

#order #container {
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.3);
    border-radius: 10px 10px 10px 10px;
    height: 500px;

}

#order #container #box {
    overflow-y: auto;
    height: 500px;
}

#order #cards {
    height: 150px;
    width: 100%;
}

#order #order-summary {
    font-size: 20px;
    position: relative;
    padding: 5px 15px;
}

#order #order-summary::after {
    content: '';
    background-color: rgb(0, 0, 0, 0.2);
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    margin-top: 5px;
}

#order #cards #content {
    position: relative;
}

#order #cards #content div:nth-child(2) h5 {
    color: rgb(146, 220, 255);
}

#order #cards img {
    width: 100%;
    height: 150px;
}

#order #box-2 {
    position: relative;
    height: 500px;
    border-radius: 0px 10px 10px 0px;

}

#order #box-2 #button {
    margin-top: 160px;
}

#order #box-2 #button button {
    background-color: rgb(146, 220, 255);
    font-weight: 600;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
    padding: 5px;
    width: 100%;
}

/* invoice */

#invoice {
    box-shadow: 0px 5px 10px 10px rgb(2, 2, 2, 0.1);
    padding: 40px;
    border-radius: 20px 20px 10px 10px;
    margin-bottom: 40px;
}

#invoice svg {
    height: 60px;
    width: 60px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

#invoice #code {
    background-color: black;
    display: inline-block;
    padding: 10px 20px;
    color: white;
}

#invoice #pesan {
    background-color: rgb(0, 0, 0, .03);
    padding: 10px 0px;
}

#invoice #garis {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-left: -10px;
    margin-top: 20px;
}

#invoice #button button {
    display: inline-block;
    font-weight: 600;
    background-color: rgb(146, 220, 255);
    color: white;
    letter-spacing: 1px;
    border: none;
    padding: 5px 20px;
}

/* transaksi */

#transaksi #header {
    margin: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
}

#transaksi #header h1 {
    margin-left: 30px;
}

#transaksi div h5 {
    color: rgb(146, 220, 255);
}

#transaksi #content #box:nth-child(odd) #card div:nth-child(1) {
    background-color: rgb(0, 0, 0, .03);
}